* {
    margin: 0px;
    padding: 0px;
}

body{
    background: lightblue;

}

nav {
    padding: 30px;
    font-size: 20px;
    font: black;
}



.bounding-box {
    position: relative;
    width: 102px;
    height: 235px;
    background: lightblue;
    margin: 100px auto;
    transition: all 800ms ease 0s;



}

.bounding-box:hover {
    transform: scale(1.1);

}

.bounding-box:hover .segment{
    transform: translate(-10px) rotate(45deg);
    margin:-1px;
}

.bounding-box:hover .triangle-0{
    transform: translate(-15px) ;
}



.triangle-0 {
    width: 0px;
    height: 0px;
    border-bottom: 22px solid black;
    border-left: 22px solid transparent;
    display: inline-block;
    margin: -2.5px;
    transition: all 900ms ease 0ms;
}
.triangle-0:hover {
    border-bottom: 22px solid yellow;

}


.triangle-1 {
    width: 0px;
    height: 0px;
    border-bottom: 22px solid black;
    border-right: 22px solid transparent;
    display: inline-block;
    margin: -2.5px;
    transition: all 900ms ease 0ms;
}
.triangle-1:hover {
    border-bottom: 22px solid yellow;
}

.triangle-2 {
    width: 0px;
    height: 0px;
    border-top: 22px solid black;
    border-left: 22px solid transparent;
    display: inline-block;
    margin: -2.5px;
    transition: all 900ms ease 0ms;
}
.triangle-2:hover {
    border-top: 22px solid yellow;
}

.triangle-3 {
    width: 0px;
    height: 0px;
    border-top: 22px solid black;
    border-right: 22px solid transparent;
    display: inline-block;
    margin: -2.5px;
    transition: all 900ms ease 0ms;
}
.triangle-3:hover {
    border-top: 22px solid yellow;
}

.segment {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: -2.5px;
    background: black;
    transition: all 1s ease 0s;


}
.segment:hover {
    background: yellow;
}


.segment.blank {
    background: none;
}

