* {


}


body{
    background: black;
    padding:20px;
    border: 2px solid white;
    margin:100px;
}

svg path {
    position: relative;
    fill:white;
    margin: 20px;

}

.cartoon{
    display: block;
    position: relative;
    margin-left: 390px;
    color:white;


}


.title {
    position: relative;
    margin:10px auto;
    width: 300px;
}

.desc{

    position: relative;
    width:500px;
    height: fit-content;
    font-family: Andale Mono,AndaleMono,monospace;
    font-size: 30px;
    color: white;

    margin:auto;
}





